{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome, {{username}}!</h1>
    </div>

</main>
{% endblock %}
<!--{% for task_data in task_data_list %}-->
<!--    <div class="task priority-{{ task_data[5] }}" data-index="{{ task_data[0] }}" data-project="{{ task_data[6] }}">-->
<!--        <input type="checkbox" {% if task_data[4]==1 %}checked{% endif %} class="task__status-checkbox">-->
<!--        <div class="task__title">{{ task_data[1] }}</div>-->
<!--        &lt;!&ndash; <div class="task__date">{{ task_data[3] }}</div> &ndash;&gt;-->
<!--        <div class="task__date">{{ task_data[3].strftime('%b %d') }}</div>-->
<!--        <button class="details-button" data-bs-toggle="modal"-->
<!--            data-bs-target="#taskDetailsModal{{ task_data[0] }}">Details</button>-->
<!--        <button class="edit-button" data-bs-toggle="modal"-->
<!--            data-bs-target="#editTaskModal{{ task_data[0] }}">Edit</button>-->
<!--        <button class="delete-button">Delete</button>-->
<!--    </div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--    &lt;!&ndash; Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="taskDetailsModal{{ task_data[0] }}" tabindex="-1" role="dialog"-->
<!--        aria-labelledby="taskDetailsModalLabel{{ task_data[0] }}" aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="taskDetailsModalLabel{{ task_data[0] }}">{{ task_data[1] }}</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <div class="task__detail">{{ task_data[2] }}</div>-->
<!--                    <div class="task__status">{{ task_data[4] }}</div>-->
<!--                    <div class="task__some-number">{{ task_data[5] }}</div>-->
<!--                    <div class="task__some-id">{{ task_data[6] }}</div>-->
<!--                    <div class="task__some-category">{{ task_data[7] }}</div>-->
<!--                    <div class="task__timestamp">{{ task_data[9].strftime('%Y-%m-%d %H:%M:%S') }}</div>-->
<!--                    <div class="task__some-other-number">{{ task_data[10] }}</div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="modal fade" id="editTaskModal{{ task_data[0] }}" tabindex="-1" role="dialog"-->
<!--        aria-labelledby="editTaskModalLabel{{ task_data[0] }}" aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="editTaskModalLabel{{ task_data[0] }}">Edit Task</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <form id="editTaskForm{{ task_data[0] }}">-->
<!--                        <label for="editTaskName{{ task_data[0] }}">Task Name:</label>-->
<!--                        <input type="text" id="editTaskName{{ task_data[0] }}" name="editTaskName"-->
<!--                            value="{{ task_data[1] }}" class="form-control">-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--                        <label for="editTaskDescription{{ task_data[0] }}">Description:</label>-->
<!--                        <textarea id="editTaskDescription{{ task_data[0] }}" name="editTaskDescription"-->
<!--                            class="form-control">{{ task_data[2] }}</textarea>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--                        &lt;!&ndash; Add similar fields for other attributes (e.g., Deadline, Priority, etc.) &ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
<!--                        <button type="button" class="btn btn-primary"-->
<!--                            onclick="submitEditTaskForm({{ task_data[0] }})">Submit Edit</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
