{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}{% endblock %}

{% block sidebar %}
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
          aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Task Forge</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                  data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a href="#" class="nav-link d-flex align-items-center gap-2">Today</a>
                    </li>
                    <li>
                      <a href="#" class="nav-link d-flex align-items-center gap-2">Week</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                  data-bs-target="#orders-collapse" aria-expanded="false">
                  Projects
                </button>
                <div class="collapse" id="orders-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      {% for project in projects %}
                    <li>
                      <a href="{{ url_for('show_project', project_id=project[0]) }}" class="nav-link d-flex align-items-center gap-2">{{project[1]}}</a>
                    </li>
                      {% endfor %}
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1 px-3">
                <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                  +
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">

                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task or Project</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tasks-tab" data-bs-toggle="tab" href="#tasks"
                              role="tab">Tasks</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link" id="projects-tab" data-bs-toggle="tab" href="#projects"
                              role="tab">Projects</a>
                          </li>
                        </ul>

                        <div class="tab-content">
                          <!-- Tasks Tab -->
                          <div class="tab-pane fade show active" id="tasks" role="tabpanel">
                            <form action="{{ url_for('create_task') }}" method="post">
                              <div class="mb-3">
                                <label for="task-title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" name="task_title" required>
                              </div>
                              <div class="mb-3">
                                <label for="task-description" class="col-form-label">Description:</label>
                                <textarea class="form-control" name="task_description"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="task-due-date" class="col-form-label">Due Date:</label>
                                <input type="date" class="form-control" name="task_due_date" required>
                              </div>

                              <div class="mb-3">
                                <label class="col-form-label">Priority:</label>
                                <div class="form-check">
                                  <input type="radio" class="form-check-input" id="task-priority-low"
                                    name="task_priority" value="low">
                                  <label class="form-check-label" for="task-priority-low">Low</label>
                                </div>
                                <div class="form-check">
                                  <input type="radio" class="form-check-input" id="task-priority-medium"
                                    name="task_priority" value="medium">
                                  <label class="form-check-label" for="task-priority-medium">Medium</label>
                                </div>
                                <div class="form-check">
                                  <input type="radio" class="form-check-input" id="task-priority-high"
                                    name="task_priority" value="high">
                                  <label class="form-check-label" for="task-priority-high">High</label>
                                </div>
                              </div>
                              <input type="hidden" name="task_project_id" value="{{ project[0] }}">
                              <button type="submit" class="btn btn-primary">Create Task</button>
                            </form>
                          </div>

                          <!-- Projects Tab -->
                          <div class="tab-pane fade" id="projects" role="tabpanel">
                            <form action="{{ url_for('create_project') }}" method="post">
                              <div class="mb-3">
                                <label for="project-title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" name="project_title" required>
                              </div>
                              <div class="mb-3">
                                <label for="project-description" class="col-form-label">Description:</label>
                                <textarea class="form-control" name="project_description"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="project-due-date" class="col-form-label">Due Date:</label>
                                <input type="date" class="form-control" name="project_due_date" required>
                              </div>
                              <button type="submit" class="btn btn-primary">Create Project</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



              </li>
            </ul>

            <hr class="my-3" />

            <ul class="nav flex-column mb-auto">

              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('logout') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
  <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z"/>
  <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0"/>
</svg>

                  Sign out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
{% endblock %}


{% block content %}
<!--pop up message to show collaborators are added (start)-->
{% if get_flashed_messages() %}
        <div class="modal fade" id="flashMessageModal" tabindex="-1" aria-labelledby="flashMessageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="flashMessageModalLabel">Notice</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for message in get_flashed_messages() %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                var myModal = new bootstrap.Modal(document.getElementById('flashMessageModal'), {
                    keyboard: false
                });
                myModal.show();
            });
        </script>
    {% endif %}
<!--pop up message to show collaborators are added (end)-->

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome, {{ username }}!</h1>
    </div>
    {% for task_data in task_data_list %}
    <div class="task priority-{{ task_data[5] }}" data-index="{{ task_data[0] }}" data-project="{{ task_data[6] }}">
        <!-- <input type="checkbox" {% if task_data[4]==1 %}checked{% endif %} class="task__status-checkbox"> -->
        <!-- <form action="{{ url_for('edit_task_status', task_id=task_data[0]) }}" method="post">
          <input type="hidden" name="status" value="{{ 0 if task_data[4] == 1 else 1 }}">
          <input type="checkbox" {% if task_data[4] == 1 %}checked{% endif %} class="task__status-checkbox" onclick="this.form.submit()">
      </form> -->
      <form action="{{ url_for('edit_task_status', task_id=task_data[0]) }}" method="post">
        <input type="hidden" name="status" value="{{ 0 if task_data[4] == 1 else 1 }}">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        <input type="checkbox" {% if task_data[4] == 1 %}checked{% endif %} class="task__status-checkbox" onclick="this.form.submit()">
    </form>
    
        <div class="task__title">{{ task_data[1] }}</div>
        <!-- <div class="task__date">{{ task_data[3] }}</div> -->
        <div class="task__date">{{ task_data[3].strftime('%b %d') }}</div>
        <button class="details-button" data-bs-toggle="modal"
            data-bs-target="#taskDetailsModal{{ task_data[0] }}">Details</button>
        <button class="edit-button" data-bs-toggle="modal"
            data-bs-target="#editTaskModal{{ task_data[0] }}">Edit</button>
        <!-- <button class="delete-button">Delete</button> -->
        <form method="POST" action="{{ url_for('delete_task') }}" onsubmit="return confirm('Are you sure you want to delete this task?');">
          <input type="hidden" name="task_id" value="{{ task_data[0] }}">
          <button type="submit" class="delete-button">Delete</button>
      </form>
    </div>

    <div class="modal fade" id="taskDetailsModal{{ task_data[0] }}" tabindex="-1" role="dialog"
        aria-labelledby="taskDetailsModalLabel{{ task_data[0] }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskDetailsModalLabel{{ task_data[0] }}">{{ task_data[1] }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="task__detail">{{ task_data[2] }}</div>
                    <div class="task__status">{{ task_data[4] }}</div>
                    <div class="task__some-number">{{ task_data[5] }}</div>
                    <div class="task__some-id">{{ task_data[6] }}</div>
                    <div class="task__some-category">{{ task_data[7] }}</div>
                    <div class="task__timestamp">{{ task_data[9].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                    <div class="task__some-other-number">{{ task_data[10] }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editTaskModal{{ task_data[0] }}" tabindex="-1" role="dialog"
        aria-labelledby="editTaskModalLabel{{ task_data[0] }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel{{ task_data[0] }}">Edit Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="editTaskForm{{ task_data[0] }}" method="POST" action="/edit_task">
                      <input type="hidden" name="task_id" value="{{ task_data[0] }}">

                      <label for="editTaskName{{ task_data[0] }}">Task Name:</label>
                      <input type="text" id="editTaskName{{ task_data[0] }}" name="editTaskName" value="{{ task_data[1] }}" class="form-control">

                      <label for="editTaskDescription{{ task_data[0] }}">Description:</label>
                      <textarea id="editTaskDescription{{ task_data[0] }}" name="editTaskDescription" class="form-control">{{ task_data[2] }}</textarea>

                      <div class="mb-3">
                          <label for="task-due-date" class="col-form-label">Due Date:</label>
                          <input type="date" class="form-control" name="task_due_date" value="{{ task_data[3] }}" required>
                      </div>

                      <div class="mb-3">
                          <label class="col-form-label">Priority:</label>
                          <div class="form-check">
                              <input type="radio" class="form-check-input" id="task-priority-low" name="task_priority" value="low" {% if task_data[4] == 'low' %}checked{% endif %}>
                              <label class="form-check-label" for="task-priority-low">Low</label>
                          </div>
                          <div class="form-check">
                              <input type="radio" class="form-check-input" id="task-priority-medium" name="task_priority" value="medium" {% if task_data[4] == 'medium' %}checked{% endif %}>
                              <label class="form-check-label" for="task-priority-medium">Medium</label>
                          </div>
                          <div class="form-check">
                              <input type="radio" class="form-check-input" id="task-priority-high" name="task_priority" value="high" {% if task_data[4] == 'high' %}checked{% endif %}>
                              <label class="form-check-label" for="task-priority-high">High</label>
                          </div>
                      </div>

                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Submit Edit</button>
                  </form>
              </div>

            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Comments Area -->
    <!-- Load the CKEditor -->
    {{ ckeditor.load() }}
    <!-- Configure it with the name of the form field from CommentForm-->
    {{ ckeditor.config(name='comment_text') }}
    <!-- Create the wtf quick form from CommentForm-->
    {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    <div class="col-lg-8 col-md-10 mt-2 comment">
        <ul class="commentList" style="list-style-type: none;">
            {% for comment in comments %}
            <li style="display: flex; align-items: center; margin-bottom: 15px;">
                <div class="commenterImage">
                    <img src="{{ comment[6] | gravatar }}" class="rounded-circle" style="width: 50px; height: 50px;" alt="Gravatar">
                </div>
                <div class="commentText" style="margin-left: 10px;">
                    <h4>{{ comment[3]|safe }}</h4>
                    <span class="date sub-text">{{ comment[5] }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}